
  /* Card styling */
  .feedback-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
  }

  .feedback-card form{
    display: flex;
    flex-direction: column;
  }
  
  /* Individual card item styling */
  .card-item {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .card-item:hover {
    transform: translateY(-10px);
  }