.verifyNumber {

    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginBtnVerifyNum {
    background-color: black;
    color: white;
    width: 25%;

    margin-top: 15px;



}

.otpVerification {
    margin-top: 15px;
}