.background-image {
    background-image: url("../../../../../assets/images/user_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .login-phone-otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 170px;
    height: 100vh;
  }
  
  .login-phone-otp-card {
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    /* width: 100%; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .login-phone-otp-title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  /* .login-form{
      padding: 50px;
    } */
  .login-phone-otp-submit {
    margin-top: 10px;
    padding-top: 10px;
  }
  .login-phone-otp-submit .col {
    display: flex;
  }
  .login-phone-otp-btn {
    margin: 25px 0 25px 0;
    height: auto;
    width: 50%;
    background-color: #6739b7 !important;
  }
  
  .login-phone-otp-row div {
    margin-top: 5px;
  }
  .login-phone-otp-subtitle {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .login-phone-otp-subtitle a {
    color: #6739b7;
    text-decoration: none;
    font-weight: bold;
  }
  