.play-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
}

/* Card styling */
.play-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.plays-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonPlay.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* Responsive design */
@media (max-width: 576px) {
  .play-card {
    padding: 20px;
  }

  .plays-card {
    padding: 10px;
  }

  .list-group-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .list-group-item button {
    margin-top: 10px;
    width: 100%;
  }
}