/* Card styling */
.play-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
  }
.plays-card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    /* margin-left: 15px; */
 
    text-align: center;

}
.buttonPlay.disabled{
  cursor: not-allowed;

}