.settingList {
    list-style-type: none;
}

.toggle-container {
    display: inline-block;
    margin-left: 10px;
    /* Adjust the margin as needed */
    cursor: pointer;
}

.toggle {
    width: 40px;
    /* Adjust the width as needed */
    height: 20px;
    /* Adjust the height as needed */
    background-color: #ccc;
    border-radius: 10px;
    /* Adjust the border radius as needed */
    transition: background-color 0.3s;
}

.toggle.on {
    background-color: #0f0;
    /* On color */
}

.toggle.off {
    background-color: #f00;
    /* Off color */
}