.caseDescription-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

.nav-tabs {
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.nav-item {
  cursor: pointer;
}

.nav-link {
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #007bff;
  color: white;
}

.nav-link.active {
  background-color: #071c34;
  color: white;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .caseDescription-card {
    padding: 15px;
  }

  .nav-link {
    font-size: 14px;
    padding: 10px;
  }
}

button[type="submit"] {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #031f3e;
}

button[type="submit"]:focus {
  outline: none;
}

/* Adding hover effect for tabs */
.nav-link:hover {
  background-color: #18304a;
  color: white;
}

/* Ensure content is scrollable */
.tab-content {
  max-height: 400px;
  overflow-y: auto;
}