/* Overall container styling */
.dash-container {
  padding: 20px;
}

/* Card container styling */
.dash-card {
  display: grid;
  gap: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
}

/* Default for large screens */
@media (min-width: 992px) {
  .dash-card {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 991px) {
  .dash-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small screens */
@media (max-width: 767px) {
  .dash-card {
    grid-template-columns: 1fr;
  }
}

/* Individual card item styling */
.card-item {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
}

.card-item:hover {
  transform: translateY(-10px);
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0 auto 10px;
}

.play-icon {
  background: url('../../../assets/icon/play.png') no-repeat center center;
  background-size: contain;
}

.statistics-icon {
  background: url('../../../assets/icon/statistics.png') no-repeat center center;
  background-size: contain;
}

.subscription-icon {
  background: url('../../../assets/icon/subscription.png') no-repeat center center;
  background-size: contain;
}

.downloads-icon {
  background: url('../../../assets/icon/download.png') no-repeat center center;
  background-size: contain;
}

.streaks-icon {
  background: url('../../../assets/icon/streaks.png') no-repeat center center;
  background-size: contain;
}

.setting-icon {
  background: url('../../../assets/icon/setting.svg') no-repeat center center;
  background-size: contain;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #7b61ff;
}

/* Background image styling */
/* .bgImg {
  background: url('../../../assets/icon/') no-repeat center center;
  background-size: cover;
} */