.navbar-brand {
    padding-top: 0;
}

.nav-item {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 0 10px;
}

.nav-item:hover {
    color: blue;
}

.abc {
    display: flex;
    justify-content: flex-end
}

@media (max-width: 768px) {
    .ml-auto {
        margin-left: auto !important;
    }
}


@media (max-width: 991px) {
    .loginBtnMediaQuery {
        margin-left: -11px;
        padding-top: 8px
    }
}

.loginBtn {
    margin-top: -7px;
}