/* .logIn {
    margin-top: 50px;
}

.text-black {
    color: black;
} */

/* .authLoginBtn {
    color: white;
    background-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.signUpLink {
    text-decoration: none;
}

.signUpLink {
    color: black;
}

.signUpLink:hover {
    color: rgb(64, 64, 228);
} */
.gradient-custom-2 {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}