.CaseQuiz-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
}

.CaseQuiz-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 60%;
}

.CaseQuiz-card h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.CaseQuiz-card ul {
  list-style-type: none;
  padding: 0;
}

.CaseQuiz-card li {
  margin: 10px 0;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;


}

.CaseQuiz-card li:hover {
  background: #b9b1b1;
}

.CaseQuiz-card button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.CaseQuiz-card button:hover {
  background: #0056b3;
}

.correct {
  color: green;

}

.incorrect {
  color: red;
}