.totalLifeLine {
    margin-left: 25px;
    border: 1px solid black;
    width: min-content;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0px 0px 10px -5px rgb(20, 20, 20) inset;

}

.score {
    font-size: 50px;
}

.custom-button {
    background-color: #6739B7;
    border-radius: 30px;
    letter-spacing: 0.2em;
    height: auto;
    padding: 10px 25px 10px 25px;
}



  /* Card styling */
  .streaks-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
  }

  /* .feedback-card form{
    display: flex;
    flex-direction: column;
  }
   */
  /* Individual card item styling */
  .card-item {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .card-item:hover {
    transform: translateY(-10px);
  }
  